.homeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* margin-top: 40px; */
  background-color: #5cb33880;
  height: 200px;
  border-radius: 10px;
  flex-direction: column;
}

.boxSections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 150px;
  gap: 40px;
}
